@media screen and (max-width : 480px) {
    .search_select_option_container {
        gap: 0px;
        height: 30px;
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .select_option_class {
        font-size: 15px;
        padding: 0px;
    }

    .search_button {
        font-size: 15px;
    }

    .search_input_container {
        height: 30px;
    }

    .sbtext {
        display: none;
    }

    #sbicon {
        display: block;
    }

    .search_input {
        font-size: 15px;
        padding: 0px 10px;
    }
}