@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/*
main-color = #283618
off-white = #E4E4DE
light-grey = #C4C5BA
success = #097E07
danger = #D21414
mediumBlackColor = #7D7C7C
lightBorder = #7D7C7C
medium = #424242
DarkBorder = #7D7C7C
*/

* {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 300;
    text-transform: uppercase;
}

.success {
    color: #097E07;
    text-decoration: underline;
}

.danger {
    color: #D21414;
    text-decoration: underline;
}