/*display_product_details_section styling start*/

.display_product_details_section {
    padding: 60px 80px;
}

.product_name {
    font-size: 40px;
    text-align: center;
}

#product_description {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #283618;
}

.show_details_container {
    margin: 50px 0px;
    width: 100%;
    height: 500px;
    display: flex;
    border: 1.5px solid #283618;
}

.image_container {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_image {
    width: calc(100% - 20%);
    height: calc(100% - 20%);
}

.price_container {
    position: absolute;
    right: 6%;
    top: 4%;
    padding: 8px;
    border: 1.5px solid #283618;
}

.product_price {
    background-color: #283618;
    color: #E4E4DE;
    font-size: 30px;
    padding: 4px 15px;
}

.item_details_container {
    flex: 1;
    background-color: #283618;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_container {
    width: calc(100% - 20%);
    height: calc(100% - 20%);
}

.nutritional_details {
    width: 100%;
    height: fit-content;
    color: #E4E4DE;
    margin-bottom: 15px;
}

.each_detail {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rating_star{
    color: yellow;
}

.food_category{
    height: 30px;
    width: 30px;
    /* border: 1.5px solid #D21414; */
    border: 1.5px solid #097E07;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.bg_circle{
    height: calc(100% - 20%);
    width: calc(100% - 20%);
    /* background: #D21414; */
    background: #097E07;
    border-radius: 50%;
}

.button_container {
    display: flex;
    justify-content: end;
    padding: 20px 0px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.add_to_cart_button {
    background-color: #283618;
    color: #E4E4DE;
    font-size: 20px;
    border: none;
    width: 300px;
    padding: 8px 0px;
    cursor: pointer;
}

/*display_product_details_section styling end*/

/*Recommended products section styling start*/

.recommended_products_section {
    padding: 60px 80px;
}

.recommended_products_container {
    display: grid;
    padding: 15px 15px;
    gap: 15px;
    box-shadow: 2px 2px 10px #252525a7;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.each_product {
    height: 300px;
}

.each_product_image_container {
    width: 100%;
    height: 70%;
}

.each_product_image {
    width: 100%;
    height: 100%;
}

.desc_body {
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Recommended products section styling end*/