.register_page_container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.register_left_page{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283618;
}

.brand_logo{
    font-size: 65px;
    color: #E4E4DE;
}

.register_right_page{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.register_heading{
    font-size: 45px;
    text-align: center;
    color: #283618;
}

.register_input{
    margin-top: 20px;
    padding: 6px 10px;
    font-size: 16px;
}

.register_button{
    padding: 6px 10px;
    font-size: 16px;
    background-color: #283618;
    border: none;
    color: #E4E4DE;
    cursor: pointer;
}

.register_button:active{
    background-color: none;
}

.form_link{
    margin-top: 15px;
}

.login_link{
    color: #283618;
}

.password_instructions_container{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #C4C5BA;
}

.password_instructions{
    margin: 0px 30px;
}