<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/CSS/common.css">
  <!-- <link rel="stylesheet" href="public/CSS/common.css"> -->
  <link rel="stylesheet" href="../../public/CSS/navbar.css">
  <!-- <link rel="stylesheet" href="public/CSS/navbar.css"> -->
  <link rel="stylesheet" type="text/css" href="../../public/Responsive/ResponsiveHome.css" />
  <!-- <link rel="stylesheet" href="public/Responsive/ResponsiveHome.css" /> -->
  <link rel="stylesheet" href="../../public/CSS/home.css" />
  <!-- <link rel="stylesheet" href="public/CSS/home.css" /> -->
  <link rel="stylesheet" type="text/css" href="../../public/Responsive/ResponsiveNavbar.css">
  <title>HealthyDay</title>
</head>

<body>
  <header class="healthyday_header">
    <nav class="upper_navbar">
      <p>Friday,30/08/2024</p>
      <div class="cart_login_buttons_container">
        <button class="cart_button" title="User Cart">
          CART&lpar;0&rpar; <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="login_button" title="Sign in with your account">
          LOGIN <i class="fa-solid fa-user"></i>
        </button>
        <button class="hamburger_button">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </nav>
    <nav class="lower_navbar">

      <div class="close_button_container">
        <button class="nav_close_button"><i class="fa-solid fa-xmark"></i></button>
      </div>

      <!-- <p class="brand_logo">HEALTHYDAY</p> -->
      <p class="brand_logo">24*7Food</p>

      <ul class="navbar_list">
        <li class="list_item">
          <a href="./Home.html" title="Home Page" class="nav_link">Home</a>
        </li>
        <li class="list_item">
          <a href="./Menu.html" title="HealthyDay Menu" class="nav_link">Menu</a>
        </li>
        <li class="list_item">RESTAURANTS</li>
        <li class="list_item">ABOUT</li>
      </ul>
    </nav>
  </header>

  <section class="home_introduction_section">
    <div class="introduction_container">
      <div class="introduction_content_container">
        <!-- <h1>Heel Thy Day with</h1> -->
        <h1>BOOK DELICIOUS FOOD WITH</h1>
        <!-- <h2>HealthyDay</h2> -->
        <h2>OUR BUFFET</h2>
      </div>
      <div class="introduction_image_container">
        <!-- <img
            src="./castle.png"
            alt="Failed to load image"
            class="int_sec_image"
          /> -->
      </div>
    </div>
  </section>

  <div class="section_title_container_base_class">
    <!-- <span class="section_title_base_class">Order Now With Us</span> -->
    <span class="section_title_base_class">Order Now With HealthyDay</span>
  </div>

  <section class="products_display_section">
    <div class="products_display_container">
      <div class="sliding_left_button_container">
        <button class="slide_button left_slide">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
      <div class="products_slider">
        <div class="products_container">
          <div class="each_product_container">
            <div class="each_product">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load image" class="product_img" />
              </div>
              <div class="card_body">
                <div class="desc_body">
                  <p>Title of product</p>
                  <p>INR-299</p>
                </div>
                <div class="link_body">
                  <a href="#">view more</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_container">
            <div class="each_product">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1561817245-de553dfe2e88?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load image" class="product_img" />
              </div>
              <div class="card_body">
                <div class="desc_body">
                  <p>Title of product</p>
                  <p>INR-299</p>
                </div>
                <div class="link_body">
                  <a href="#">view more</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_container">
            <div class="each_product">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1517399611216-ff2f851a4ef1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load image" class="product_img" />
              </div>
              <div class="card_body">
                <div class="desc_body">
                  <p>Title of product</p>
                  <p>INR-299</p>
                </div>
                <div class="link_body">
                  <a href="#">view more</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_container">
            <div class="each_product">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1517399611216-ff2f851a4ef1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load image" class="product_img" />
              </div>
              <div class="card_body">
                <div class="desc_body">
                  <p>Title of product</p>
                  <p>INR-299</p>
                </div>
                <div class="link_body">
                  <a href="#">view more</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sliding_right_button_container">
        <button class="slide_button right_slide">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="banner_display_section">
    <div class="banner_display_container">
      <div class="each_banner_container">
        <div class="banner_bg_color"></div>
        <img
          src="https://images.unsplash.com/photo-1490349708435-19d432984978?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Failed to load image" class="banner_image" />
        <div class="banner_content_container">
          <p>Become a member of HealthyDay</p>
          <a class="banner_link">Register Now</a>
        </div>
      </div>
      <div class="each_banner_container">
        <div class="banner_bg_color"></div>
        <img
          src="https://images.unsplash.com/photo-1478146059778-26028b07395a?q=80&w=1792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Failed to load image" class="banner_image" class="banner_image" />
        <div class="banner_content_container">
          <p>Enjoy our best offers</p>
          <a class="banner_link">Book Table Now</a>
        </div>
      </div>
      <div class="each_banner_container">
        <img
          src="https://images.unsplash.com/photo-1478146059778-26028b07395a?q=80&w=1792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Failed to load image" class="banner_image" class="banner_image" />
        <div class="banner_content_container"></div>
        <div class="banner_bg_color"></div>
      </div>
      <div class="each_banner_container">
        <img
          src="https://images.unsplash.com/photo-1519092796169-bb9cc75a4b68?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Failed to load image" class="banner_image" class="banner_image" />
        <div class="banner_content_container"></div>
        <div class="banner_bg_color"></div>
      </div>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/e24141db11.js" crossorigin="anonymous"></script>
  <script type="application/javascript" src="../../public/Scripts/navbar.js"></script>
  <script type="application/javascript" src="/public/Scripts/home.js"></script>
</body>

</html>