<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/CSS/common.css">
    <link rel="stylesheet" href="../../public/CSS/navbar.css">
    <link rel="stylesheet" href="../../public/CSS/login.css" />
    <title>HealthyDay-login/sign-in</title>
</head>

<body>
    <div class="login_page_container">
        <div class="login_left_page">
            <p class="brand_logo">HealthyDay</p>
        </div>
        <div class="login_right_page">
            <form class="login_form" id="submission_form">
                <h1 class="login_heading">Login</h1>

                <input type="text" placeholder="username or mobile or email" class="login_input" id="user_credential">
                <input type="password" placeholder="password" class="login_input" id = "password">

                <button class="login_button" id="login_button">Login</button>

                <span class="form_link">Don't Have an Account <a href="#" class="register_link">register now</a></span>
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/e24141db11.js" crossorigin="anonymous"></script>
    <script src="../../public/Scripts/login.js"></script>
</body>

</html>