<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="../../public/CSS/common.css">
  <link rel="stylesheet" href="../../public/CSS/navbar.css">
  <link rel="stylesheet" href="../../public/CSS/menu.css" />
  <link rel="stylesheet" href="../../public/Responsive/ResponsiveMenu.css">
  <link rel="stylesheet" href="../../public/Responsive/ResponsiveNavbar.css"> -->
  <link rel="stylesheet" href="/public/CSS/common.css">
  <link rel="stylesheet" href="/public/CSS/navbar.css">
  <link rel="stylesheet" href="/public/CSS/menu.css" />
  <link rel="stylesheet" href="/public/Responsive/ResponsiveMenu.css">
  <link rel="stylesheet" href="/public/Responsive/ResponsiveNavbar.css">
  <title>Document</title>
</head>

<body>
  <header class="healthyday_header">
    <nav class="upper_navbar">
      <p>Friday,30/08/2024</p>
      <div class="cart_login_buttons_container">
        <button class="cart_button">
          CART&lpar;0&rpar; <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="login_button">
          LOGIN <i class="fa-solid fa-user"></i>
        </button>
        <button class="hamburger_button">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </nav>
    <nav class="lower_navbar">

      <div class="close_button_container">
        <button class="nav_close_button"><i class="fa-solid fa-xmark"></i></button>
      </div>

      <h2 class="brand_logo">24*7Food</h2>

      <ul class="navbar_list">
        <li class="list_item">HOME</li>
        <li class="list_item">MENU</li>
        <li class="list_item">RESTAURANTS</li>
        <li class="list_item">ABOUT</li>
      </ul>
    </nav>
  </header>

  <section class="menu_introduction_section">
    <h1>Our Menu</h1>
    <p>Not Only Food We also Serve health in your platter</p>
  </section>

  <div class="section_title_container_base_class">
    <span class="section_title_base_class">Buy With Us</span>
  </div>

  <section class="display_menu_products_section">
    <div class="display_menu_products_container">
      <header class="menu_header">
        <div class="menu_search_container">
          <input type="text" placeholder="Search with HealthyDay...." class="search_input" />
          <button class="search_button">Search</button>
        </div>
      </header>

      <div class="main_menu_container">
        <div class="products_container">
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Paneer Salad Wrap</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1464593745417-e22a78ca277b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Miracle Juice</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Fruits Yogurt</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1623691752472-a6d33855e5de?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Bread Omlette</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1623691752472-a6d33855e5de?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Bread Omlette</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Fruits Yogurt</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1464593745417-e22a78ca277b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Miracle Juice</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="each_product_card">
            <div class="inner_card">
              <div class="img_container">
                <img
                  src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Failed to load Image" class="product_img" />
              </div>

              <div class="card_body">
                <div class="desc_body">
                  <p class="item_name">Paneer Salad Wrap</p>
                  <p class="item_price">INR-229</p>
                </div>
                <div class="link_body">
                  <a href="">Read More</a>
                  <button class="add_to_cart_button">
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/e24141db11.js" crossorigin="anonymous"></script>
</body>

</html>