<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthyDay: Check Delicious Items</title>
    <link rel="stylesheet" type="text/css" href="../../public/CSS/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/CSS/navbar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/CSS/Product.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/Responsive/ResponsiveNavbar.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/Responsive/ResponsiveProduct.css"
    />
  </head>
  <body>
    <header class="healthyday_header">
      <nav class="upper_navbar">
        <p id="nav_date_day"></p>
        <div class="cart_login_buttons_container">
          <button class="cart_button" title="User Cart">
            CART&lpar;0&rpar; <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="login_button" title="Sign in with your account">
            LOGIN <i class="fa-solid fa-user"></i>
          </button>
          <button class="hamburger_button">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </nav>
      <nav class="lower_navbar">
        <div class="close_button_container">
          <button class="nav_close_button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <!-- <p class="brand_logo">HEALTHYDAY</p> -->
        <p class="brand_logo">24*7Food</p>

        <ul class="navbar_list">
          <li class="list_item">
            <a href="./Home.html" title="Home Page" class="nav_link">Home</a>
          </li>
          <li class="list_item">
            <a href="./Menu.html" title="HealthyDay Menu" class="nav_link"
              >Menu</a
            >
          </li>
          <li class="list_item">RESTAURANTS</li>
          <li class="list_item">ABOUT</li>
        </ul>
      </nav>
    </header>

    <section class="display_product_details_section">
      <div class="display_product_details_container">
        <h1 class="product_name" id="product_name">Healthy Paneer Wrap</h1>
        <p id="product_description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
          repudiandae reiciendis, suscipit velit dolorum quia cumque voluptatem.
          Corrupti non ipsum ullam explicabo sed, possimus aperiam.
        </p>

        <div class="show_details_container">
          <div class="image_container">
            <img
              src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load Image"
              class="product_image"
              id="product_image"
            />
            <div class="price_container">
              <p class="product_price" id="product_price">360/-</p>
            </div>
          </div>
          <div class="item_details_container">
            <div class="details_container">
              <div class="nutritional_details" id="nutritional_details">
                <p class="each_detail">Total Protein : 8-10 g</p>
                <p class="each_detail">Total Fats : 4-5 g</p>
                <p class="each_detail">Total Calories : 250-350 cal</p>
              </div>

              <div class="reviews_container">
                <i class="fa-solid fa-star" id="rating_star"></i>
                <i class="fa-solid fa-star" id="rating_star"></i>
                <i class="fa-solid fa-star" id="rating_star"></i>
                <i class="fa-solid fa-star" id="rating_star"></i>
                <i class="fa-solid fa-star" id="rating_star"></i>
              </div>
              <div class="food_category">
                <div class="bg_circle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="button_container">
          <button class="add_to_cart_button">Add to Cart</button>
        </div>
      </div>
    </section>

    <section class="recommended_products_section">
      <h2>Recommended Items</h2>

      <div class="recommended_products_container">
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <script
      type="text/javascript"
      src="../../public/Scripts/navbar.js"
    ></script>
    <script
      type="text/javascript"
      src="../../public/Scripts/product.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/e24141db11.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
