<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthyDay: Check Delicious Items</title>
    <link rel="stylesheet" type="text/css" href="../../public/CSS/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/CSS/navbar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/CSS/Product.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/Responsive/ResponsiveNavbar.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/Responsive/ResponsiveProduct.css"
    />
  </head>
  <body>
    <header class="healthyday_header">
      <nav class="upper_navbar">
        <p id="nav_date_day"></p>
        <div class="cart_login_buttons_container">
          <button class="cart_button" title="User Cart">
            CART&lpar;0&rpar; <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="login_button" title="Sign in with your account">
            LOGIN <i class="fa-solid fa-user"></i>
          </button>
          <button class="hamburger_button">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </nav>
      <nav class="lower_navbar">
        <div class="close_button_container">
          <button class="nav_close_button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <!-- <p class="brand_logo">HEALTHYDAY</p> -->
        <p class="brand_logo">24*7Food</p>

        <ul class="navbar_list">
          <li class="list_item">
            <a href="./Home.html" title="Home Page" class="nav_link">Home</a>
          </li>
          <li class="list_item">
            <a href="./Menu.html" title="HealthyDay Menu" class="nav_link"
              >Menu</a
            >
          </li>
          <li class="list_item">RESTAURANTS</li>
          <li class="list_item">ABOUT</li>
        </ul>
      </nav>
    </header>

    <section class="display_product_details_section">
      <div class="display_product_details_container">
        <h1 class="product_name">Healthy Paneer Wrap</h1>
        <hr />
        <div class="product_image_container">
          <img
            src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Failed to load Image"
            class="product_image"
          />
          <div class="price_box">
            <p class="product_price">369/-</p>
          </div>
        </div>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
          perspiciatis dolorem necessitatibus harum fuga quas ad temporibus sunt
          voluptates quo?
        </p>

        <div class="nutritional_details">
          <h2>Nutritional Value Contained in your Meal</h2>
          <div class="each_detail">
            <span>Protein Contained</span>
            <span>8-10g</span>
          </div>
          <div class="each_detail">
            <span>Protein Contained</span>
            <span>8-10g</span>
          </div>
          <div class="each_detail">
            <span>Protein Contained</span>
            <span>8-10g</span>
          </div>
          <div class="each_detail">
            <span>Protein Contained</span>
            <span>8-10g</span>
          </div>
          <div class="each_detail">
            <span>Protein Contained</span>
            <span>8-10g</span>
          </div>
        </div>

        <div class="button_container">
          <button class="add_to_cart_button">Add to Cart</button>
        </div>
      </div>
    </section>

    <section class="recommended_products_section">
      <h2>Recommended Items</h2>

      <div class="recommended_products_container">
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="each_product">
          <div class="each_product_image_container">
            <img
              src="https://images.unsplash.com/photo-1667451384955-eab03c9d2a37?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Failed to load image"
              class="each_product_image"
            />
          </div>

          <div class="desc_body">
            <p>Healthy Paneer Wrap</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <script src="../../public/Scripts/navbar.js"></script>
  </body>
</html>
