<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/CSS/common.css">
    <link rel="stylesheet" href="../../public/CSS/navbar.css">
    <link rel="stylesheet" href="../../public/CSS/register.css" />
    <title>HealthyDay-login/sign-in</title>
</head>

<body>
    <div class="register_page_container">
        <div class="register_left_page">
            <p class="brand_logo">HealthyDay</p>
        </div>
        <div class="register_right_page">
            <form class="register_form">
                <h1 class="register_heading">Register</h1>

                <input type="text" placeholder="full name" class="register_input">
                <input type="text" placeholder="email address" class="register_input">
                <input type="password" placeholder="create password" class="register_input">
                <div class="password_instructions_container">
                    <ul class="password_instructions">
                        <li>Password length must be greater than 8</li>
                        <li>Use special sumbols like - @#$%&*{}()</li>
                        <li>Use numbers from 0 to 9</li>
                    </ul>
                </div>
                <button class="register_button">Register</button>

                <span class="form_link">Already Have an Account <a href="#" class="login_link">login now</a></span>
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/e24141db11.js" crossorigin="anonymous"></script>

</body>

</html>