<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="healthyday_header">
        <nav class="upper_navbar">
            <p>Friday,30/08/2024</p>
            <div class="cart_login_buttons_container">
                <button class="cart_button">
                    CART&lpar;0&rpar; <i class="fa-solid fa-cart-shopping"></i>
                </button>
                <button class="login_button">
                    LOGIN <i class="fa-solid fa-user"></i>
                </button>
            </div>
        </nav>
        <nav class="lower_navbar">
            <!-- <h2 class="brand_logo">HEALTHYDAY</h2> -->
            <h2 class="brand_logo">24*7Food</h2>

            <ul class="navbar_list">
                <li class="list_item">HOME</li>
                <li class="list_item">MENU</li>
                <li class="list_item">RESTAURANTS</li>
                <li class="list_item">ABOUT</li>
            </ul>
        </nav>
    </header>

    <section class="restaurants_introduction_section">
        <h1>HealthyDay Restaurants</h1>
        <p>Search Nearby Restaurants by you</p>
    </section>
</body>

</html>